.id {
	display: none;
}

img {
	width: 100px;
	border-radius: 10px;
}

td {
	padding: 5%;
	padding-bottom: 0;
	padding-top: 0;
}

span{
	font-size: 100%;
}

h1 {
	text-align: center;
}

#footer div {
	float: right;
	margin: 5px;
}

.imgdiv{
    padding-bottom: 15px;
}

div.desc {
    padding: 5px;
    text-align: center;
}

h4 {
	margin-top: 15px;
}

.itemContainer {
	display: none;
}

#wait {
  text-align: center;
  margin-top: 10%;
}