.id {
	display: none;
}

img {
	width: 100px;
	border-radius: 10px;
}

td {
	padding: 5%;
	padding-bottom: 0;
	padding-top: 0;
}

span{
	font-size: 20px;
}

h1 {
	text-align: center;
}


#footer div {
	float: right;
	margin: 5px;
}

.imgdiv{
    padding-bottom: 15px;
}

div.desc {
    padding: 5px;
    text-align: center;
}
