.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}



.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.submitbtn{
    
    position: absolute;
    top: 120%;
}
.wrapperBtn{
    text-align:center;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



.cart{
    position: fixed;
    top: 20px;
    right: 10px; 
    
}

.homediv{
    margin-top:10px;
    text-align: center;
    margin-bottom:10px;
}
.homecontent{
    padding-top:10px;
    display: inline-block;
}

a:link {
    text-decoration: none;
    color:black;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  
  color:white;
}

/* Floating column for inputs: 75% width */
.col-70 {
  float: left;
  width: 65%;
  margin-top: 6px;
  
 
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  display: none;
  justify-content: center;

}
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



/* allprod.css ------------------------------ */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.cart{
    position: fixed;
    top: 20px;
    right: 10px; 
    
}

.homediv{
    margin-top:10px;
    text-align: center;
}
.homecontent{
    padding-top:10px;
    display: inline-block;
}
a:link {
    text-decoration: none;
    color:black;
}

.imgdiv{
    padding-bottom: 15px;
}

.container{
    padding-top:20px;
}

.maindiv{
    padding-top:20px;
}div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.cart{
    position: fixed;
    top: 20px;
    right: 10px; 
    
}

.homediv{
    margin-top:10px;
    text-align: center;
}
.homecontent{
    padding-top:10px;
    display: inline-block;
}
a:link {
    text-decoration: none;
    color:black;
}

.imgdiv{
    padding-bottom: 15px;
}

.container{
    padding-top:20px;
}

.maindiv{
    padding-top:20px;
}
