.container h2{
	font-family: 'bree serif', cursive;
	font-weight:700;	
}

p{
	font-family: 'Josefin Sans', sans-serif;
}

.image {
  width: 100%;
    transition: .5s ease;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

a:hover .middle{
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
